@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Luxurious+Roman&family=Luxurious+Script&family=Oswald:wght@200;400;500;600&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&family=Smooch&family=Yuji+Hentaigana+Akari&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Luxurious Roman', cursive;
	box-sizing: border-box;
}

body{
	background:  rgb(82, 27, 84);
	min-height: 100vh;
	overflow-x: hidden;

}


.grid{
position: absolute;
justify-content: center;
align-items: center;
margin-top: 10px;
width: 100vw;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 300px ));
column-gap: 10px;
grid-row-gap: 10px;
}




img{
	width: 300px;
	height: 300px;
	object-fit: cover;
	object-position: center;
}